<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        
        <style>
            .myForm1{
                width: 40%;
                border: 1px solid black;
                margin: auto;
                padding: 20px;
                font-size: 20px;
            }
            .buttonss
            {
                width:100%;
                text-align: center;
                display:flex;
                justify-content: center;
                padding-top: 1%;
            }
            #myForm table tr td input{
                font-size: 20px;
            }
            h1 {
                padding-top: 2%;
                padding-bottom: 2%;
                margin: auto;
                width: 50%;
                text-align: center;
            }
            button {
                width: 200px;
                padding: 15px;
                cursor: pointer;
                background-color: #2c3639;
                outline: none;
                border: 3px solid white;
                color: #dcd7c9;
                font-size: 16px;
            }
            button:hover {
                background-color: #3f4e4f;
            }
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>QUESTION PAPER</h1>
        <div>   
            <form>
                <h1>Questions</h1>
                <% questions.forEach((item)=>{%> 
                    <li class="myForm1">
                            <%=item.user_question+"{"%> 
                            <%=item.user_subject%> 
                            <%=item.user_topic%> 
                            <%=item.user_difficulty%> 
                            <%=item.user_marks+"}" %> 
                    </li>
                    
                <%});%> 
            </form>
            </div>
           
    </body>
</html>
